@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*  DIV ADDED BY GITHUB AFTER DEPLOYED */
#loom-companion-mv3 {
  display: none;
}

@keyframes slide-right {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
  }
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 80px;
}

h1 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
}

h2 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  color: white;
  margin-bottom: 24px;
}

p {
  color: #7c8ba1;
  font-size: 18px;
  margin-top: 16px;
  max-width: 700px;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

button {
  border-radius: 999px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-width: 0;
  transition: background-color 400ms ease;
  cursor: pointer;
}

.purple__button {
  background: #6415ff;
}

.purple__button:hover {
  background-color: rgb(80 17 204);
}

img {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  padding: 32px;
}

.purple__text {
  color: #6415ff;
}

.white__text {
  color: white;
}

.no-cursor {
  cursor: not-allowed;
}

.btn__menu {
  display: none;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #243e63;
}

.btn__menu:hover {
  color: #6415ff;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  border: 1px solid rgb(226, 232, 240);
  top: 24px;
  left: 24px;
  right: 24px;
  height: 50vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 10px;
  top: 26px;
  padding: 0;
  color: black;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.menu__list {
  padding: 24px 0;
}

.menu__link {
  font-size: 18px;
  color: black;
}

.menu__link:hover {
  color: #6415ff;
}

/* LANDING */

#landing {
  height: 100vh;
  justify-content: flex-start;
  animation: slide-right 800ms;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
  font-weight: 700;
}

.logo {
  width: 40px;
  margin-right: 12px;
}

.link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}

.menu__link:after,
.nav__link:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #6415ff;
  width: 0;
  bottom: -8px;
  right: 0;
  transition: all 400ms ease;
}

.menu__link:hover:after,
.nav__link:hover:after {
  width: 100%;
  left: 0;
}

.menu__link:hover,
.nav__link:hover {
  color: #6415ff;
}

.sign-in__login--links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.login__link {
  padding-right: 24px;
}

.nav__button {
  padding: 12px 32px;
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px auto;
}

.header__title {
  color: #1a202c;
  margin: 0 auto;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.header__para {
  color: #243e63;
  margin: 32px 0;
}

.header__email-container {
  display: flex;
  position: relative;
  width: 90%;
}

.header__email-input {
  width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  border-color: rgb(229, 231, 235);
  font-size: 100%;
  font-weight: 500;
  transition: border-color 400ms ease;
}

.header__email-input:hover {
  border-color: rgba(160, 174, 192);
}

.email__button {
  position: absolute;
  font-size: 16px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 6px;
  padding: 8px 40px;
}

.trusted__customers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  color: rgba(160, 174, 192);
  font-weight: 700;
  font-size: 12px;
}

.trusted__customers--title {
  font-size: 12px;
  color: #a0ace0;
  font-weight: 700;
}

.trusted__customer--img {
  display: flex;
  margin-top: 16px;
  width: 80%;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
}

/* FEATURES */

#features {
  animation: slide-left 800ms;
}

.features__highlight--container {
  position: absolute;
  right: -100px;
  bottom: -900px;
  opacity: 0.25;
}

.features__highlight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.features__para {
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: start;
  width: calc(100% / 3);
  margin: 32px auto;
}

.feature__img {
  display: flex;
  padding: 16px;
}

.feature__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  margin-right: 16px;
}

.feature__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feature__info--name {
  font-size: 24px;
  font-weight: 600;
}

.feature__info--para {
  font-size: 16px;
  max-width: 200px;
  text-align: left;
}

/* QUALITY */

#quality {
  animation: slide-right 800ms;
}

.quality__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.quality__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-right: 64px;
}

.quality-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid rgb(226, 232, 240);
  position: relative;
}

.quality__img--accent {
  position: absolute;
  right: -40px;
  bottom: -40px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.quality__button {
  padding: 16px 32px;
  margin-top: 24px;
}

/* STEPS */

#steps {
  animation: slide-left 800ms;
}

.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 64px;
  position: relative;
}

.steps__img--accent {
  position: absolute;
  bottom: -40px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  opacity: 0.15;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.steps__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 50%;
}

.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 32px;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px;
}

.step__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.step__number {
  font-weight: 600;
  font-size: 36px;
  color: #cbd5e0;
  padding-right: 24px;
}

.step__info--name {
  font-size: 20px;
  font-weight: 600;
}

.step__info--para {
  font-size: 14px;
  margin-top: 12px;
}

/* VALUES */

#values {
  animation: slide-right 800ms;
}

.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 50%;
}

.values__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 32px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 24px;
}

.value__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.affordable__img,
.professionalism__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.affordable__img {
  color: rgb(39 103 73);
  background-color: rgb(154 230 180);
}

.professionalism__img {
  color: rgb(155 44 44);
  background-color: rgb(254 178 178);
}

.value__name {
  font-size: 20px;
  font-weight: 700;
}

.value__para {
  font-size: 16px;
  max-width: 250px;
}

.values__img {
  display: flex;
  width: 50%;
}

.values__button {
  padding: 16px 32px;
  margin-top: 32px;
}

/* PRICING */

#pricing {
  animation: slide-left 800ms;
}

.pricing__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.price__plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
  width: 100%;
}

.price__plans-highlight--container {
  display: flex;
  position: absolute;
  bottom: -130px;
  left: -120px;
  opacity: 0.25;
  z-index: 1;
}

.price__plans-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  padding: 0 8px;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  background-color: white;
  z-index: 10;
}

.plan__feature,
.plan__for,
.plan__detail,
.plan__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.plan__feature {
  padding: 32px;
}

.plan__for {
  margin: 0;
}

.plan__detail {
  margin-top: 20px;
}

.plan__buy {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}

.left__plan {
  position: relative;
}

.center__plan,
.plan__buy--center {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.white__text {
  color: white;
}

.plan__title {
  padding: 16px 0;
}

.plan__name,
.plan__price,
.plan__for {
  color: #1a202c;
  font-weight: 700;
}

.plan__for {
  font-size: 20px;
}

.plan__price {
  margin: 8px 0;
}

.plan__duration {
  color: #a0ace0;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
}

.plan__feature {
  border-top: solid 2px rgb(226, 232, 240);
  border-bottom: solid 2px rgb(226, 232, 240);
  padding-bottom: 16px;
}

.plan__title,
.plan__feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left__plan--button,
.center__plan--button,
.right__plan--button {
  margin: 32px 64px;
  padding: 16px 32px;
  width: 50%;
  transition: all 400ms ease;
}

.left__plan--button:hover,
.center__plan--button:hover,
.right__plan--button:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.left__plan--highlight,
.center__plan--highlight,
.right__plan--highlight {
  display: flex;
  width: 100%;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.left__plan--highlight,
.left__plan--button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.center__plan--button {
  color: #6415ff;
  background: white;
}

.right__plan--highlight,
.right__plan--button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/*  TESTIMONIALS  */

#testimonials {
  animation: slide-right 800ms;
}

.testimonial__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 64px;
  width: 50%;
}

.testimonial__title {
  margin-bottom: 48px;
}

.testimonial__rating {
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating__star {
  width: 20px;
  height: auto;
  color: rgb(246 173 85);
  fill: currentColor;
  margin-right: 6px;
}

.testimonial__subject {
  margin-top: 20px;
}

.testimonial__subject,
.user__name {
  font-size: 20px;
  font-weight: 700;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.user__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__description {
  display: flex;
  flex-direction: column;
}

.user__title {
  margin: 0;
}

.user__photo {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.user__navigator {
  display: flex;
}

.arrow {
  padding: 14px;
  color: #6415ff;
}

.arrow__button {
  display: flex;
  height: 48px;
  width: 48px;
  background-color: rgb(237 242 247);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 8px;
}

.arrow__button:hover {
  background-color: rgb(226 232 240);
}

.nav__divider {
  border-right: 1px solid #edf2f7;
}

/*  FACTS  */

#facts {
  animation: slide-left 800ms;
  position: relative;
}

.facts__highlight-1-wrapper {
  position: absolute;
  width: 225px;
  top: -25px;
  right: -125px;
  color: rgb(79 209 197);
  opacity: 0.15;
}

.facts__highlight-2-wrapper {
  position: absolute;
  width: 275px;
  bottom: 20px;
  left: -150px;
  color: #6415ff;
  opacity: 0.15;
  z-index: 1;
}

.facts__highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.facts__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.fact__questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.question {
  display: flex;
  justify-content: space-between;
  color: #2d3748;
  width: 90%;
  margin: 12px 0;
  padding: 16px 40px;
  background-color: #edf2f7;
  border-radius: 8px;
  z-index: 2;
}

.question:hover {
  background-color: rgb(226 232 240);
  color: rgb(26 32 44);
}

/*  GET STARTED  */

.get__started--row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 104px 24px;
  text-align: left;
  background-color: #6415ff;
  border-radius: 8px;
  animation: slide-right 800ms;
  position: relative;
  overflow: hidden;
}

.get__started-highlight-1-wrapper,
.get__started-highlight-2-wrapper {
  position: absolute;
  color: rgb(80 17 204);
  opacity: 0.5;
  z-index: 2;
}

.get__started-highlight-1-wrapper {
  bottom: -125px;
  left: -80px;
}

.get__started-highlight-2-wrapper {
  top: -240px;
  right: -70px;
}

.get__started-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.get__started--description {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  color: white;
  text-align: left;
  width: 50%;
  z-index: 3;
}

.get__started--buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  z-index: 2;
}

.get__started--button,
.contact__button {
  padding: 20px 40px;
}

.get__started--button {
  background-color: rgb(245 101 101);
}

.get__started--button:hover {
  background-color: rgb(229 62 62);
}

.contact__button {
  background-color: transparent;
  border: 1px solid white;
}

.contact__button:hover {
  color: #6415ff;
  background-color: white;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.get__started--container {
  padding-top: 0;
}

.footer__container {
  background-color: #6415ff;
  width: 100%;
  padding: 0 32px;
  animation: slide-left 800ms;
  position: relative;
  overflow: hidden;
}

.footer__highlight-1-wrapper,
.footer__highlight-2-wrapper {
  position: absolute;
  color: rgb(80 17 204);
  opacity: 0.5;
  z-index: 2;
}

.footer__highlight-1-wrapper {
  position: absolute;
  top: -120px;
  left: -70px;
}

.footer__highlight-2-wrapper {
  position: absolute;
  bottom: -160px;
  right: -120px;
}

.footer__highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0px 32px;
  max-width: 1200px;
}

.company__info--column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  width: 20%;
  z-index: 3;
}

.footer__li {
  padding-bottom: 16px;
}

.company__info--link {
  color: white;
  text-decoration: none;
  position: relative;
}

.company__info--link:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 0;
  bottom: -8px;
  right: 0;
  transition: all 400ms ease;
}

.company__info--link:hover:after {
  width: 100%;
  left: 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 80px;
  border-top: 2px solid rgba(116 44 255);
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.footer__logo--img {
  width: 32px;
  margin-right: 8px;
}

.footer__copyright {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.social__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243e63;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  margin: 0 8px;
}

.social__link:hover {
  background-color: rgb(203 213 224);
}

/*  SMALL LAPTOPS LARGE TABLETS  */

@media (max-width: 1050px) {
  .header__wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .header__info {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__title,
  .header__para {
    text-align: center;
  }

  .trusted__customers {
    align-items: center;
    margin: 40px 0;
  }

  .header__img--wrapper {
    width: 50%;
  }

  .values__container {
    flex-direction: column;
  }

  .value {
    margin: 0;
    margin-right: 48px;
  }

  .value__2 {
    margin-top: 40px;
  }
}

/*  MEDIUM-SMALL TABLETS  */

@media (max-width: 940px) {
  h1 {
    font-size: 36px;
  }

  #landing {
    height: 100%;
  }

  .link__container {
    display: none;
  }

  .btn__menu {
    display: flex;
  }

  #features {
    height: 100%;
  }

  .features__highlight--container {
    bottom: -1100px;
  }

  .feature {
    width: 50%;
  }

  .quality__row {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .steps__row,
  .testimonial__row {
    flex-direction: column;
  }

  .header__img--wrapper,
  .quality-img,
  .steps__img--wrapper,
  .values__img,
  .testimonial__img {
    width: 80%;
  }

  .quality__info,
  .steps__info,
  .values__info,
  .testimonial__info {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .section--title,
  .section--subject,
  .section--para {
    text-align: center;
  }

  .quality-img,
  .steps__img--wrapper,
  .values__img,
  .testimonial__img {
    width: 80%;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .steps__info {
    margin-top: 24px;
  }

  #values {
    height: 100%;
  }

  .values__row {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .value {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px 0;
    width: 100%;
  }

  .value__para {
    max-width: 350px;
  }

  #pricing {
    height: 100%;
  }

  .plan__wrapper {
    width: 100%;
    margin-bottom: 64px;
  }

  .left__plan--button,
.center__plan--button,
.right__plan--button {
  width: 60%;
}

  .testimonial {
    align-items: center;
    text-align: center;
  }

  .testimonial__footer {
    width: 80%;
  }

  .get__started {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px 24px;
  }

  .get__started--row {
    flex-direction: column;
  }

  .get__started--description {
    padding: 36px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 730px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .header__email-container {
    flex-direction: column;
  }

  .email__button {
    position: relative;
    width: 100%;
    padding: 20px 40px;
    margin-top: 16px;
  }

  .features__highlight--container {
    bottom: -1000px;
  }

  .company__info {
    padding: 32px 0;
  }

  .company__info--column {
    width: calc(100% / 3);
    margin-top: 32px;
    justify-content: center;
  }

  .footer__list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
  }

  .footer__logo,
  .footer__copyright,
  .social__links {
    padding: 10px 0;
  }
}

/* PHONES  */

@media (max-width: 560px) {
  #facts {
    height: 100%;
  }

  .features__highlight--container {
    bottom: -1570px;
  }

  .feature {
    width: 100%;
  }

  .feature__img {
    padding: 8px;
  }

  .testimonial__footer {
    flex-direction: column;
    align-items: center;
  }

  .user__photo {
    margin: 16px 0;
  }

  .user__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
  }

  .company__info {
    justify-content: center;
  }

  .company__info--column {
    width: 25%;
    text-align: center;
  }
}
