@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  height: 80px;
}

h1 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
}

h2 {
  color: #6415ff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
}

p {
  color: #7c8ba1;
  font-size: 18px;
  margin-top: 16px;
  max-width: 700px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border-radius: 999px;
  color: white;
  font-weight: 700;
  background: #6415ff;
  border-width: 0;
}

img {
  display: flex;
  width: 100%;
}

.container {
  padding: 32px;
}

.purple__text {
  color: #6415ff;
}

.white__text {
  color: white;
}

/* LANDING */

#landing {
  height: 100vh;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
  font-weight: 700;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.link__container {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  padding: 8px 24px;
  color: #243e63;
  font-size: 12px;
  font-weight: 600;
}

.contact__link {
  margin-right: 32px;
}

.nav__button {
  padding: 12px 32px;
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}

.header__title {
  color: #1a202c;
  margin: 0 auto;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.header__para {
  color: #243e63;
  margin: 32px 0;
}

.header__email-container {
  display: flex;
  position: relative;
  width: 90%;
}

.header__email-input {
  width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  border-color: rgba(160, 174, 192);
  font-size: 100%;
  font-weight: 500;
  opacity: 0.5;
}

.email__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 6px;
  padding: 8px 40px;
}

.trusted__customers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  color: rgba(160, 174, 192);
  font-weight: 700;
  font-size: 12px;
}

.trusted__customers--title {
  font-size: 12px;
  color: #a0ace0;
  font-weight: 700;
}

.trusted__customer--img {
  display: flex;
  margin-top: 16px;
  width: 80%;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 60%;
}

/* FEATURES */

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.features__para {
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: start;
  width: calc(100% / 3);
  margin: 32px auto;
}

.feature__img {
  display: flex;
  padding: 16px;
}

.feature__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 50%;
  margin-right: 16px;
}

.feature__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feature__info--name {
  font-size: 24px;
  font-weight: 600;
}

.feature__info--para {
  font-size: 16px;
  max-width: 200px;
  text-align: left;
}

/* QUALITY */

.quality__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.quality__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-right: 64px;
}

.quality__button {
  padding: 12px 32px;
  margin-top: 32px;
}

.quality-img {
  display: flex;
  width: 50%;
  border: 1px solid rgb(226, 232, 240);
}

/* STEPS */

.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
  display: flex;
  max-width: 50%;
  margin-right: 64px;
}

.steps__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 50%;
}

.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 32px;
}

.step {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 12px;
}

.step__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.step__number {
  font-weight: 600;
  font-size: 36px;
  color: #cbd5e0;
  padding-right: 24px;
}

.step__info--name {
  font-size: 20px;
  font-weight: 600;
}

.step__info--para {
  font-size: 14px;
  margin-top: 12px;
}

/* VALUES */

.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 50%;
}

.values__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 32px;
}

.value__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.affordable__img,
.professionalism__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-right: 8px;
  border-radius: 50%;
}

.affordable__img {
  color: rgb(39 103 73);
  background-color: rgb(154 230 180);
}

.professionalism__img {
  color: rgb(155 44 44);
  background-color: rgb(254 178 178);
}

.value__name {
  font-size: 20px;
  font-weight: 700;
}

.value__para {
  font-size: 16px;
}

.values__img {
  display: flex;
  max-width: 50%;
}

.values__button {
  font-size: 14px;
  padding: 12px 32px;
  margin-top: 32px;
}

/* PRICING */

.pricing__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.price__plans {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: calc(100% / 3);
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
}

.center__plan {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  margin: 0 40px;
}

.white__text {
  color: white;
}

.plan__title {
  padding: 16px 0;
}

.plan__name,
.plan__price,
.plan__for {
  color: #1a202c;
  font-weight: 700;
}

.plan__for {
  font-size: 20px;
}

.plan__price {
  margin: 8px 0;
}

.plan__duration {
  color: #a0ace0;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
}

.plan__feature {
  border-top: solid 2px rgb(226, 232, 240);
  border-bottom: solid 2px rgb(226, 232, 240);
  padding-bottom: 16px;
}

.plan__title,
.plan__feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left__plan--button,
.center__plan--button,
.right__plan--button {
  margin: 32px 64px;
  padding: 16px 32px;
  width: 75%;
}

.left__plan--highlight,
.center__plan--highlight,
.right__plan--highlight {
  display: flex;
  width: 100%;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.left__plan--highlight,
.left__plan--button {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.center__plan--button {
  color: #6415ff;
  background: white;
}

.right__plan--highlight,
.right__plan--button {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}



/*  TESTIMONIALS  */


.testimonial__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.testimonial__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 64px;
  width: 50%;
}

.testimonial__title {
  margin-bottom: 48px;
}

.testimonial__rating {
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating__star {
  width: 20px;
  height: auto;
  color: rgb(246 173 85);
  fill: currentColor;
  margin-right: 6px;
}

.testimonial__subject {
  margin-top: 20px;
}

.testimonial__subject,
.user__name {
  font-size: 20px;
  font-weight: 700;
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.user__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__description {
  display: flex;
  flex-direction: column;
}

.user__title {
  margin: 0;
}

.user__photo {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}


.user__navigator {
  display: flex;
}

.arrow {
  padding: 10px;
  color:#6415ff;
}

.arrow__wrapper {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #EDF2F7;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 8px;
}

.nav__divider {
  border-right: 1px solid #EDF2F7;
}



/*  FACTS  */

.facts__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.fact__questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.question {
  display: flex;
  justify-content: space-between;
  color: #2D3748;
  width: 90%;
  margin: 12px 0;
  padding: 16px 40px;
  background-color: #EDF2F7;
  border-radius: 8px;
}


/*  GET STARTED  */

.get__started {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: #6415ff;
  padding: 104px 64px;
  border-radius: 8px;
}

.get__started--description {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  color: white;
  text-align: left;
  width: 50%;
}

.get__started--buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  max-width: 400px;
}

.get__started--button,
.contact__button {
  padding: 20px 40px;
}

.get__started--button {
  background-color: rgb(245 101 101);
}

.contact__button {
  border: 1px solid white;
}